---

- name: add repos
  apt_repository:
    repo: "{{ item }}"
    state: present
    update_cache: no
  with_items: "{{ java_apt_repositories }}"
  when: java_apt_repositories|length > 0
  register: java_repo_installed

- name: update apt cache
  apt:
    update_cache: yes
  when: java_repo_installed|changed

- name: install apt packages
  apt:
    name: "{{ item }}"
    state: latest
    install_recommends: no
    update_cache: yes
    cache_valid_time: 86400
  when: java_repo_installed|success
  with_items: "{{ java_packages }}"

- name: set JAVA_HOME
  template:
    src: java_home.sh.j2
    dest: /etc/profile.d/java_home.sh
    mode: 0644
  when: java_home
  tags: java_config
